.block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 3px #000814 solid;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}