.block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 3px #D8E4F3 solid;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
}